<script setup>
import { ref, computed, watch } from 'vue'
import InputText from 'primevue/inputtext';
import ScrollPanel from 'primevue/scrollpanel';
import Card from 'primevue/card';
import Button from 'primevue/button';

const items = ref([])
const inputValue = ref()
const selectedIndex = ref(null)

function changeItem(index) {
  selectedIndex.value = index
  inputValue.value = items.value[index].value
}

function editItem() {
  items.value[selectedIndex.value].value = inputValue.value
}

(function initializationArr() {
  for (let i = 0; i < 25; i++) {
    items.value.push({
      name: `name ${i}`,
      value: `value ${i}`,
    })
  }
})()



</script>

<template>
  <div class="container">
    <div>
      <h2>Список сущностей</h2>
      <ScrollPanel style="width: 100%; height: 85vh" class="custombar">
        <Card v-for="item, index in items" class="card" :class="{ selected: selectedIndex === index }"
          @click="changeItem(index)">
          <template #title> {{ item.name }}</template>
          <template #content>
            <p>
              {{ item.value }}
            </p>
          </template>
        </Card>
      </ScrollPanel>


    </div>

    <div>
      <h2>Форма редактирования</h2>
      <div v-if="selectedIndex !== null">
        <h3>Name: {{ items[selectedIndex].name }}</h3>
        <InputText type="text" v-model="inputValue" />
        <Button label="Изменить" severity="secondary" class="ml-10" @click="editItem()" />
      </div>
      <div v-else>
        <p>Выбирите элемент в списке слева</p>
      </div>
    </div>

  </div>
</template>

<style scoped>
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.container>div {
  padding: 20px;
}



::v-deep(.p-scrollpanel.custombar .p-scrollpanel-wrapper) {
  border-right: 10px solid var(--surface-ground);
}

::v-deep(.p-scrollpanel.custombar .p-scrollpanel-bar) {
  background-color: var(--primary-300);
  opacity: 1;
  transition: background-color 0.3s;
}

::v-deep(.p-scrollpanel.custombar .p-scrollpanel-bar:hover) {
  background-color: var(--primary-400);
}

.card {
  margin: 20px;
  cursor: pointer;
}

.selected {
  box-shadow: 0px 0px 20px #00000070;
}

.ml-10 {
  margin-left: 10px;
}
</style>
